.button {
	height: 50px;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	background-color: var(--purple);

	font-weight: 500;
	color: var(--white-details);

	transition: all 200ms ease-in-out;

	svg {
		margin-right: 0.5rem;
	}

	&:not(:disabled):hover {
		filter: brightness(0.9);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.outline {
		background: transparent;
		border: 1px solid var(--purple);
		color: var(--purple);
	}
}