#headerContainer {
	width: 100%;
	margin: 0 auto;
	padding: 23px 8px;

	border-bottom: 1px solid #E2E2E2;
}

.headerContent {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		width: 100px;
	}

	> div {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		button {
			height: 40px;
		}

	}
}