#headerContainer {
	width: 100%;
	margin: 0 auto;
	padding: 23px 8px;

	border-bottom: 1px solid #E2E2E2;
}

.headerContent {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	a > img {
		width: 100px;
	}

	.navBar {
		display: flex;
		align-items: center;
		gap: 1rem;

		.buttonAvatar {
			background-color: transparent;
	
			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				transition: all ease-in-out;
	
				&:hover {
					filter: brightness(0.9);
				}
			}
		}
	}
}

@media(max-width: 426px) {
	.headerContent {
		position: initial;
	}
}